body,html{
    margin: 0px;
    padding: 0px;
}

h1,h2,h3,h4,h5,h6,p,li,a,ol,span{
    line-height: normal;
    font-weight: normal;
    font-style: normal;
}

.container-fluid{
    position: relative;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 100px 0px;
}
.container{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 25px 0px;
}
.container-black{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #010101;
    margin: 0px;
    padding: 100px 0px;
}

.submain-text{
    display: block;
    width: auto;
    margin: 0px;
    padding: 0px;

    font-family: 'Quicksand-SemiBold';
    font-size: 1.2rem;
    color: #ffffff;
    text-align: center;
}
.submain-text span{
    color: #f19b07;
}

.main-title{
    position: relative;
    display: block;
    width: auto;
    margin: 0px;
    padding: 0px;
    margin: 30px auto;

    font-family: 'Quicksand-SemiBold';
    font-size: 1.2rem;
    color: #111111;
    text-align: center;
}
.main-title span{
    color: #F19B07;
}

.main-supertitle{
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #ff6b00;
}
.main-supertitle h1{
    display: block;
    width: auto;
    margin: 0px;
    padding: 25px 0px;

    font-family: 'Quicksand-Bold';
    font-size: 1.8rem;
    color: #ffffff;
    text-align: center;
}

.green-button,
.orange-button{
    outline: none;
    outline-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);

    margin: 20px auto;
    cursor: pointer;

    transition: box-shadow 0.25s, background-color 0.25s;
}

.green-button{
    width: 160px;
    height: 40px;
    background-color: #83bf41;
}
.orange-button{
    width: 200px;
    height: 50px;
    background-color: #f19b07;
}

.green-button span,
.orange-button span{
    font-family: 'Quicksand-Regular';
    color: #ffffff;
    text-align: center;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.3);
}
.green-button span{
    font-size: 1rem;
}
.orange-button span{
    font-size: 1.2rem;
}

.green-button img,
.orange-button img{
    height: 25px;
    width: auto;
    margin-right: 8px;
}

.green-button:hover,
.orange-button:hover{
    text-decoration: none;
    box-shadow: 0px 3px 5px -2px rgba(0,0,0,0.8);
}
.green-button:hover{
    background-color: #94cc4c;
}
.orange-button:hover{
    background-color: #d6850d;
}

.columna-center{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}